<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="todoApp" data-framework="firebase" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="todoApp" data-framework="firebase" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="todoApp" data-framework="firebase" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="todoApp" data-framework="firebase" class="no-js"> <!--<![endif]-->
<head>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Todo App</title>
    <link rel="stylesheet" href="assets/stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
    <style>[ng-cloak] { display: none; }</style>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h1 class="text-center">Best Todo App</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="medium-offset-3 medium-6 columns">
        <div ng-controller="TodoCtrl">
          <header>
            <h1 class="text-center">Todos</h1>
            <form ng-submit="addTodo()">
              <div class="row collapse">
                <div class="small-2 large-1 columns">
                  <span class="prefix">
                    <input id="toggle-all" type="checkbox" title="Mark all as complete" ng-model="allChecked" ng-click="markAll(allChecked)">
                  </span>
                </div>
                <div class="small-10 large-11 columns">
                  <input type="text" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
                </div>
              </div>
            </form>
          </header>
          <section ng-show="totalCount" ng-cloak>
            <ul class="no-bullet">
              <li class="listing" ng-repeat="(id, todo) in todos | todoFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                <div class="row collapse">
                  <div class="small-2 large-1 columns">
                    <span class="prefix">
                      <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(id)">
                    </span>
                  </div>
                  <div class="small-10 large-11 columns">
                    <p ng-dblclick="editTodo(id)">{{ todo.title }} <a class="right" href="" ng-click="removeTodo(id)"> <i class="fa fa-close" ng-click="removeTodo(id)"></i></a></p>
                    <form ng-submit="doneEditing(id)">
                      <input type="text" class="edit" ng-model="todo.title" todo-escape="revertEditing(id)" todo-blur="doneEditing(id)" todo-focus="todo == editedTodo">
                    </form>
                  </div>
                </div>

              </li>
            </ul>
          </section>
          <footer ng-show="totalCount" ng-cloak>
            <ul class="inline-list no-bullet">
              <li><span><strong>{{ remainingCount }}</strong>
                <ng-pluralize count="remainingCount" when="{one:'item left', other:'items left'}"></ng-pluralize>
              </span></li>
              <li>
                <a ng-class="{selected: location.path() == '/'}" href="#/">All</a>
              </li>
              <li>
                <a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
              </li>
              <li>
                <a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
              </li>
              <li>
                <a href="" class="right alert" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed ({{ completedCount }})</a>
              </li>
            </ul>

          </footer>
        </div>
        <footer>
          <p><small>Double-click to edit a todo</small></p>
        </footer>
      </div>
    </div>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="bower_components/todomvc-common/base.js"></script>
    <script src="https://code.angularjs.org/1.2.28/angular.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/todoCtrl.js"></script>
    <script src="js/directives/todoFocus.js"></script>
    <script src="js/directives/todoBlur.js"></script>
    <script src="js/directives/todoEscape.js"></script>
  </body>
</html>
